/* CUSTOM PROPS */
:root{
  --red: #FA5959;
  --blue: #5267DF;
  --text-color: #242A45;
  --text-color-75: rgba(36, 42, 69, 0.75);
  --text-color-50: rgba(36, 42, 69, 0.50);
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
      url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
      url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
      url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* GLOBAL */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
::after,
::before{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  background-color: #fff;
  color: var(--text-color-50);
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PLACEHOLDER STYLES
::placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: rgba(52, 49, 61, 0.5);
}

::-ms-input-placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 3px solid transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
}
.site-header__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  margin-right: auto;
}
.logo__link{
  display: block;
  width: 150px;
  height: 25px;
  /* object-fit: contain; */
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}

/* SITENAV */
.sitenav__list {
  margin: 0;
  margin-right: 48px;
  padding: 0;
  display: flex;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 44px;
}
.sitenav__link{
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.sitenav__link:hover{
  color: var(--red);
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 8px 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.25px;
  text-decoration: none;
  white-space: nowrap;
  /* transition: 4s  ease; */
}

.mybtn{
  margin: auto;
  display: block;
  width: 114px;
}
.button--red {
  padding: 10px 24px;
  border-color: var(--red);
  background-color: var(--red);
  color: #fff;
}
.button--red:hover {
  border-color: var(--red);
  background-color: #fff;
  color: var(--red);
}
.button--red:active {
  border-color: var(--red);
  background-color: #fff;
  color: var(--red);
  opacity: 0.6;
}
.site-header__button{
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  padding: 10px 31px 9px;
}

.button-blue{
  border-color: var(--blue);
  background-color: var(--blue);
  color: #fff;
}
.button-blue:hover{
  border-color: var(--blue);
  background-color: #fff;
  color: var(--blue);
}
.button-blue:active{
  border-color: var(--blue);
  background-color: #fff;
  color: var(--blue);
  opacity: 0.6;
}

.button-grey {
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  color: var(--text-color-75);
}
.button-grey:hover{
  border-color: var(--text-color-75);
  background-color: #F7F7F7;
  color: var(--text-color-75);

}
.button-grey:active{
  border-color: var(--text-color-75);
  background-color: #F7F7F7;
  color: var(--text-color-75);
  opacity: 0.6;
}

/* SECTION */
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.section__info {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  text-align: center;
}
.section__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--text-color);
}
.section__description {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}
/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container{
  display: flex;
  align-items: center;
}
.hero__inner {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  margin-right: 68px;
}
.hero__heading {
  margin-top: 47px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--text-color);
  margin-bottom: 24px;
}
.hero__description {
  margin-top: 0;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
}
.hero__actions {
  display: flex;
}
.hero__actions-item{
  margin-right: 16px;
}

.hero__img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: cover;
}

/* TABS */

.tabs__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tabs__item {
  width: 100%;
  max-width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20);
  margin: 0;
}
.tabs__item--active .tabs__link{
  border-bottom: 4px solid var(--red);
  color: var(--text-color);
}
.tabs__link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--text-color-75);
  border-bottom: 4px solid transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.533px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.tabs__link:hover{
  color: var(--red);
}
.tabs__link:active{
  opacity: 0.6;
}


/* TABS PANELS */
.tabspanel {
  padding-top: 75px;
  padding-bottom: 90px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 580px) 156px;
}
.tabspanel__item {
  display: none;
}
.tabspanel--active{
  display: block;
}
/* FEATURE TAB PANEL */
.feature-tab-panel {
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
.feature-tab-panel__img {
  object-fit: contain;
  margin-right: 30px;
}
.feature-tab-panel__info {
  max-width: 445px;
}
.feature-tab-panel__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 24px;
}
.feature-tab-panel__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
}

/* EXTENSION LIST */
.extensions-list {
  width: 100%;
  max-width: 910px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.extensions_item {
  width: 100%;
  max-width: 280px;
  background: #fff;
}

.extensions_item:nth-child(3n + 2){
  margin-top: 40px;
}
.extensions_item:nth-child(3n){
  margin-top: 80px;
}
.extension {
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
  padding: 50px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.extension:after{
  position: absolute;
  left: 0;
  bottom: 96px;
  width: 100%;
  height: 4px;
  background-image: url(../img/doted-line.svg);
  background-position: center center;
  content: "";
}
.extensions__img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0;
  margin-bottom: 32px;
}
.extensions__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.25px;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 6px;
}
.extensions__brawser-version {
  font-size: 15px;
  font-style: normal;
  line-height: 28px;
  margin: 0;
  margin-bottom: 60px;
}
.extension__button{
  padding: 10px 35px;
}

/* ACCORDION */
.faq{
  margin-bottom: 75px;
}
.faq__inner {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;

}

.accordion {
  margin-bottom: 54px;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}
.accordion__item {

  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}
.accordion__item-header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 13px;
}
.accordion__item-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color:  var(--text-color);
  flex-grow: 1;
  margin: 0;
  margin-right: 24px;
}
.accordion__item-header:hover .accordion__item-heading{
  color: var(--red);
}
.accordion__item-toggler {
  border: none;
  margin: 0;
  margin-right: 24px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.accordion__item-toggler:focus{
  outline: none;
}
.accordion__item-toggler::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.accordion__item-toggler:focus::before{
  outline: auto;
}

.accordion__item-toggler-icon {
  display: block;
  width: 20px;
  height: 13px;
  color: var(--blue);
}
.accordion__item--open .accordion__item-toggler-icon{
  color: var(--red);
  transform: rotate(180deg);
}
.accordion__item-content {
  display: none;
  padding-top: 19px;
  padding-bottom: 29px;
  color: var(--text-color-75);
}
.accordion__item--open .accordion__item-content{
  display: block;
}
.accordion__item-text {
  font-size: 16px;
  margin: 0;

}

/* SUBSCRIBTION */
.subscribtion {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 70px;
  background-color: var(--blue);
}


.subscribtion__users {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}
.subscribtion__heading {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 36px;
}
.subscribtion__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribtion__input--inner {
  position: relative;
  width: 300px;
  margin-right: 16px;
}
.subscribtion__input {
  position: relative;
  z-index: 1;
  display: block;
  /* height: 100%; */
  width: 100%;
  padding: 10px 40px 10px 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.subscribtion__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red);
  background-image: url(../img/error-disc.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;

}

.subscribtion__error {
  display: none;
  position: absolute;
  /* display: none; */
  width: 100%;
  top: calc(100% - 3px) ;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: start;
  color: #fff;
  background-color: var(--red);
  border-radius: 0 0 5px 5px;
  padding: 7px 12px 6px;
}

.subscribtion__input:not(:focus):not(:placeholder-shown):invalid ~ .subscribtion__error {
  display: block;
}


.subscribtion__input:focus ~ .subscribtion__error,
.subscribtion__input:valid ~ .subscribtion__error,
.subscribtion__input:placeholder-shown ~ .subscribtion__error {
  display: none;
}

/* SITE FOOTER */
.site-footer {
  background-color: var(--text-color);
  padding-top: 26px;
  padding-bottom: 32px;
}
.site-footer__wrapper{
  display: flex;
  align-items: center;
  color: #fff;
}
.site-footer__inner{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 510px;
  flex-grow: 1;
}

.site-footer__logo {
  margin-right: 64px;
}
.site-footer__sitenav {
  flex-grow: 1;
}
.site-footer__sitenav .sitenav__list{
  margin: 0;
}
.site-footer__sitenav-link{
  color: #fff;
}
.site-footer__socials {
  display: flex;
}

.socials__link:nth-child(1) {
  margin-right: 40px;
}
.socials__link{
  display: flex;
}

.socials__icon{
  display: block;
  width: 24px;
  height: 24px;
  color: #fff;
}
.socials__icon:hover{
  color: var(--red);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}