/* CUSTOM PROPS */
:root{
  --button-red: #FA5959;
  --button-blue: #5267DF;
  --text-color: #242A45;
  --text-color-75: rgba(36, 42, 69, 0.75);
  --text-color-50: rgba(36, 42, 69, 0.50);
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
      url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
      url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
      url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* GLOBAL */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
::after,
::before{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  background-color: #fff;
  color: var(--text-color-50);
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PLACEHOLDER STYLES
::placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: rgba(52, 49, 61, 0.5);
}

::-ms-input-placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 3px solid transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
}
.site-header__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.logo {
  display: flex;
  margin-right: auto;
}
.logo__link{
  display: block;
  width: 150px;
  height: 25px;
  /* object-fit: contain; */
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}

/* SITENAV */
.sitenav__list {
  margin: 0;
  margin-right: 48px;
  padding: 0;
  display: flex;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 44px;
}
.sitenav__link{
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 8px 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.25px;
  text-decoration: none;
  white-space: nowrap;
  /* transition: 4s  ease; */
}
.button--red {
  border-color: var(--button-red);
  background-color: var(--button-red);
  color: #fff;
}
.button--red:hover {
  border-color: var(--button-red);
  background-color: #fff;
  color: var(--button-red);
}
.button--red:active {
  border-color: var(--button-red);
  background-color: #fff;
  color: var(--button-red);
  opacity: 0.6;
}
.site-header__button{
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  padding: 10px 31px 9px;
}

.button-blue{
  border-color: var(--button-blue);
  background-color: var(--button-blue);
  color: #fff;
}
.button-blue:hover{
  border-color: var(--button-blue);
  background-color: #fff;
  color: var(--button-blue);
}
.button-blue:active{
  border-color: var(--button-blue);
  background-color: #fff;
  color: var(--button-blue);
  opacity: 0.6;
}

.button-grey {
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  color: var(--text-color-75);
}
.button-grey:hover{
  border-color: var(--text-color-75);
  background-color: #F7F7F7;
  color: var(--text-color-75);

}
.button-grey:active{
  border-color: var(--text-color-75);
  background-color: #F7F7F7;
  color: var(--text-color-75);
  opacity: 0.6;
}

/* SECTION */
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.section__info {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: var(--text-color);
}
.section__description {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}
/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container{
  display: flex;
  align-items: center;
}
.hero__inner {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  margin-right: 68px;
}
.hero__heading {
  margin-top: 47px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--text-color);
  margin-bottom: 24px;
}
.hero__description {
  margin-top: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 32px;
}
.hero__actions {
  display: flex;
}
.hero__actions--item{
  margin-right: 16px;
}

.hero__img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: cover;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}